# **GET DATA IRIS**
(dari 4 data yang berbeda)

-sepallength (postgresql local)


-sepalwidth (elephant postgresql)


-petallength (mysql local)


-petalwidth dan class (sql server local)

In [ ]:
import pyodbc
import pandas as pd
import psycopg2
import mysql.connector
import orchest

## PostgreSQL Local (mengambil data SepalLength)

In [ ]:
db = psycopg2.connect(
    database="prosain200411100120_sepallength",
    user="postgres",
    password="sholeh841",
    host="0.tcp.ap.ngrok.io",
    port="19419"
)
query = "SELECT sepallength FROM sepallength"
df = pd.read_sql(query, db)
orchest.output(df, name="postgre_local")
df

  sepalLength
0         5.1
1         4.9
2         4.7
3         4.6
4         5.0

## PostgreSQL Elephant (mengambil data SepalWidth)

In [ ]:
db = psycopg2.connect(
    database="mzafvmjy",
    user="mzafvmjy",
    password="F_bO6uZrcavvKOx9UWc-0HkQZiMedcva",
    host="fanny.db.elephantsql.com",
    port="5432"
)
query = "SELECT * FROM sepalwidth"
df = pd.read_sql(query, db)
orchest.output(df, name="elephant")
df

C:\Users\Mardwi Siti Kholifah\AppData\Local\Temp\ipykernel_11556\2470749722.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sw = pd.read_sql(query, db)

    id;sepalwidth
0           1;3.5
1             2;3
2           3;3.2
3           4;3.1
4           5;3.6
..            ...
145         146;3
146       147;2.5
147         148;3
148       149;3.4
149         150;3

[150 rows x 1 columns]

## MYSQL Local (mengambil data PetalLength)

In [ ]:
mydb = mysql.connector.connect(
    host="0.tcp.ap.ngrok.io",
    port="17448",
    database="prosaindata200411100120",
    user="root",
    password=""
)
mycursor = mydb.cursor()
query = "SELECT petallength FROM petallength"
df = pd.read_sql(query, mydb)
orchest.output(df, name="mysql")
df

    petallength
0           1.4
1           1.4
2           1.3
3           1.5
4           1.4
..          ...
145         5.2
146         5.0
147         5.2
148         5.4
149         5.1

[150 rows x 1 columns]

## SQL Server (mengambil data Petal Width, Class)

In [ ]:
import pyodbc
import pandas as pd

# server = 'LAPTOP-A7O76VJO\SQLEXPRESS' 
# database = 'prosains200411100120' 

cnxn = pyodbc.connect(r'Driver=ODBC Driver 17 for SQL Server;Server=DESKTOP-I7PKB6Q;Database=prosain200411100120;Trusted_Connection=yes;')  
cursor = cnxn.cursor()

# select 26 rows from SQL table to insert in dataframe.
query = "SELECT petalwidth, class FROM petalwidth_class"
pwcls = pd.read_sql(query, cnxn)
print(pwcls)

     petalwidth           class
0           0.2     Iris-setosa
1           0.2     Iris-setosa
2           0.2     Iris-setosa
3           0.2     Iris-setosa
4           0.2     Iris-setosa
..          ...             ...
145         2.3  Iris-virginica
146         1.9  Iris-virginica
147         2.0  Iris-virginica
148         2.3  Iris-virginica
149         1.8  Iris-virginica

[150 rows x 2 columns]

C:\Users\Mardwi Siti Kholifah\AppData\Local\Temp\ipykernel_11556\874468816.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pwcls = pd.read_sql(query, cnxn)

dibawah ini pengambungan dari data yang diambil dari beberapa database

In [ ]:
import orchest
import pandas as pd

In [ ]:
input_data = orchest.get_inputs()


datapost = input_data['postgre_local']
datael = input_data['elephant']
datamysql = input_data['mysql']
csv = input_data['datacsv']

data = datapost.join(datael)
data1 = data.join(datamysql)
df = data1.join(csv)
orchest.output(df, name="data")

  sepalLength id;sepalwidth petallength  petalwidth        class
0         5.1         1;3.5         1.4         0.2  Iris-setosa
1         4.9           2;3         1.4         0.2  Iris-setosa
2         4.7         3;3.2         1.3         0.2  Iris-setosa
3         4.6         4;3.1         1.5         0.2  Iris-setosa
4         5.0         5;3.6         1.4         0.2  Iris-setosa

In [ ]:
df

    sepalLength id;sepalwidth petallength  petalwidth           class
0           5.1         1;3.5         1.4         0.2     Iris-setosa
1           4.9           2;3         1.4         0.2     Iris-setosa
2           4.7         3;3.2         1.3         0.2     Iris-setosa
3           4.6         4;3.1         1.5         0.2     Iris-setosa
4           5.0         5;3.6         1.4         0.2     Iris-setosa
..          ...           ...         ...         ...             ...
145         6.7         146;3         5.2         2.3  Iris-virginica
146         6.3       147;2.5         5.0         1.9  Iris-virginica
147         6.5         148;3         5.2         2.0  Iris-virginica
148         6.2       149;3.4         5.4         2.3  Iris-virginica
149         5.9         150;3         5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## mengecek akurasi

##PCA

setelah mendapatkan data utuh dari masing masing database  lakukan pca untuk mengurangi dimensi data agar perhitungan jadi lebih mudah

In [ ]:
import orchest
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [ ]:
import warnings
warnings.filterwarnings("ignore")
data = orchest.get_inputs()

df = data['data']

X = df.iloc[:, :-1]
y = df.iloc[:, 4]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
pca = PCA(n_components = 1)
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)
hasil_variance = pca.explained_variance_ratio_ # Proses pengecekan variance
type(X_train)

orchest.output((X_train,X_test,y_test,y_train), name="pca")

setelah dilakukan PCA selanjutnya mengecek akurasi dengan  menggunakan metode KNN

In [ ]:
import orchest
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
import warnings
warnings.filterwarnings("ignore")
data = orchest.get_inputs()

X_train,X_test,y_test,y_train = data['pca']

# print(pca.explained_variance_ratio_)
# print(pca.singular_values_)
knn = KNeighborsClassifier(n_neighbors = 15)
knn.fit(X_train,y_train)
hasil = knn.score(X_test, y_test)
orchest.output(hasil, name="hasilknn")

lalu mengecek akurasi dengan metode Naive Bayes

In [ ]:
import orchest
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
#Metrics
from sklearn.metrics import make_scorer, accuracy_score,precision_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score ,precision_score,recall_score,f1_score
#Model Select
from sklearn.model_selection import KFold,train_test_split,cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

In [ ]:
data = orchest.get_inputs()

X_train,X_test,y_test,y_train = data['pca']
# # fitur
# X = df.iloc[:, :-1]
# # target
# y = df.iloc[:, 4]

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)
# X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test) 
accuracy_nb=round(accuracy_score(y_test,Y_pred)* 100, 2)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)

accuracy = accuracy_score(y_test,Y_pred)
orchest.output(accuracy, name="hasilnb")

setelah hasil dari KNN dan NaiveBayes didapatkan selanjutnyta mengecek hasil akurasi

In [ ]:
hasil = orchest.get_inputs()

hasilKnn = hasil['hasilknn']
hasilNb = hasil['hasilnb']

print('Hasil Akurasi K-NN', hasilKnn)
print('Hasil Akurasi Naive Bayes', hasilNb)

##PIPELINE

setelah semua tahapan data diperoleh dan sudah melakukan klasifikasi data untuk mengecek akursai makan etelah itu membuat pipeline pada orchest untuk membuat tahapan data.